.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid grey;
    margin-bottom: 50px;
    padding: 20px 0;
}

.navbar-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar-nav ul li{
    display: inline-block;
    margin-left: 10px;
}

.navbar-nav ul li a{
    text-decoration: none;
    color: black;
    border: 1px solid grey;
    padding: 5px 10px;
}