.history{
    border-collapse: collapse;
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease-in-out;
    background-color: #fff;
}
.history td{
    border: 1px solid grey;
    width: 50px;
    text-align: center;
}

.more{
    position: relative;
}

.more:hover .history{
    opacity: 1;
    visibility: visible;
}