.stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
    margin-bottom: 100px;
}

.stats table{
    width: 300px;
    margin: 0 auto 50px;
    border-collapse: collapse;
    border: 1px solid grey;
}
.stats table td{
    width: 100px;
    border: 1px solid grey;
    padding: 10px;
}